<!DOCTYPE html>
<html>
  <head>
    <title>Payment Portal</title>
  </head>
  <body>
    hello
    <script type="text/javascript" src="/assets/manifest.js"></script>
    <script type="text/javascript" src="/assets/vendor.js"></script>
    <script type="text/javascript" src="/assets/client.js"></script>
  </body>
</html>