<!DOCTYPE html>
<html>
  <head>
    <title>Payment Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
        <div id="payment-form">
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/assets/manifest.js"></script>
    <script type="text/javascript" src="/assets/vendor.js"></script>
    <script type="text/javascript" src="/assets/client.js"></script>
  </body>
</html>